<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"

    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    

<mapper namespace="com.spring.ex.boradService.BoradMapper">

	<insert id="userRandom" parameterType="com.spring.ex.boradService.BoardVO">
		insert into user(id,pw,name,email,date) VALUES(
								#{id},
								#{pw},
								#{name},
								#{email},
								#{date}
								)
		
	</insert>
	
	<select id="getUser" resultType="map" parameterType="String">
							    select *
                                from user a 
                                left join userinformation b 
                                on a.id = b.id
                                <include refid="search"></include>	
                                order by date;
                                
	</select>
	  <sql id="search">
		<if test="sql != ''.toString()">
		   ${sql}
		</if>
		
	 </sql>  
	
	<select id="countUser" resultType="int">
		select count(*) from user;
	</select>
	
	<delete id="userArrDelete" parameterType="java.util.List">
		DELETE FROM user
		<where>
		<foreach collection="list" item="item" open="" close="" separator="OR">
		 id = #{item}
		</foreach> 
		</where>


	</delete>
</mapper>


