<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"

    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    

<mapper namespace="com.spring.ex.boradService.BoradMapper">

	<insert id="userRandom" parameterType="com.spring.ex.boradService.BoardVO">
		insert into user(id,pw,name,email,date) VALUES(
								#{id},
								#{pw},
								#{name},
								#{email},
								#{date}
								)
		
	</insert>
	
	<select id="getUser" resultType="map" parameterType="map">
							    select *
                                from user a 
                                left join userinformation b 
                                on a.id = b.id
                                <include refid="whereSql"></include>	
                                limit ${startList},${listSize}
                                
	</select>
	  <sql id="search">
		<if test="sql != ''.toString()">
		   ${sql}
		</if>
		
	 </sql>  
	
	<select id="countUser" resultType="int">
		select count(*) from user;
	</select>
	
	<delete id="userArrDelete" parameterType="java.util.List">
		DELETE FROM user
		<where>
		<foreach collection="list" item="item" open="" close="" separator="OR">
		 id = #{item}
		</foreach> 
		</where>
	</delete>
	
	<select id="countJoinUser" resultType="int">
					select count(*)
                    from user a 
                    left join userinformation b 
                    on a.id = b.id
                    <include refid="whereSql"></include>	
                    order by date;
	</select>
	
	<sql id="whereSql">
		<if test="arry != null">
			<where>
				<foreach collection="arry" item="col" separator="or">
					${col} like CONCAT('%',#{keyword},'%')
				</foreach>
			</where>
		</if>
	</sql>
</mapper>

